<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/Logo/RQ(1).png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@1&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!--SEO-->
    <meta name="description" content="En RageQuit podés encontrar reseñas de los últimos videojuegos y todo tipo de noticias relacionadas al mundo geek. Somos una comunidad de mujeres y amigas apasionadas por los juegos y la programación que buscan aportar un poco a la comunidad gamer promocionando la diversidad e inclusión.">
    <meta name="keywords" content="game reviews, news, noticias, mujeres, mujeres en los juegos, reseñas, videojuegos, ragequit, geek,armas, acción, the last of us, naughty dog, terror, apocalíptico, romance,desarrollo web, programación, juegos oficiales, playstation, pc, xbox, novedades, adelantos">
    <meta property="og:title" content="RageQuit | Reviews y Noticias por mujeres, para mujeres.">
    <meta property="og:image" content="https://ibb.co/6JCq85h">
    <meta property="og:locale" content="es_AR">
    <title>RageQuit | Reviews y Noticias por mujeres, para mujeres.</title>
</head>
<body>
<!--HEADER-->
    <header class="header">
        <div class="logo-nav-container">
            <a href="../index.html" class='nav-enlace'><img src="../img/Logo/RQ(1).png" alt="RageQuit Logo" class="logo"></a>
        <!--MENU-->
            <nav class="navegacion"> 
                <ul class="menu">
                    <li><a href="../index.html" class='nav-enlace'>Home</a></li>
                    <li><a href="reviews.html" class='nav-enlace'>Reviews</a></li>
                    <li><a href="noticias.html" class='nav-enlace'>Noticias</a></li>
                    <li><a href="nosotras.html" class='nav-enlace'>Nosotras</a></li>
                    <li><a href="contacto.html" class='nav-enlace'>Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--FIN DE MENU-->
    </header>
    <!--FIN DE HEADER-->
    <!--MAIN-->
    <main>
        <div class="container">
        <h1>The Last of Us Parte II</h1>
        <br><br>
            <img src="../img/TheLastOfUs2/7cba5f79bf7d959b661e76d16030d26d.png" alt="The Last Of Us 2 Ellie">
            <br>
            <P><i>Aviso:</i> Este juego se escuentra solo en la versión PlayStation</P>
            <br><br>
            <p>
                En 2013 Naughty Dog marcó un hito en la historia de los videojuegos, presentando un título que parecía una serie de televisión cuando esta modalidad apenas comenzaba y ahora, siete años después, tenemos la secuela.
            </p>
            <br>
            <h4>Trailer</h4>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X0VubwgS2Y4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br><br>
            <p>
                Ellie es la protagonista de esta entrega y como tal, vemos una evolución en su personalidad bastante evidente. Pasó de ser una niña extremadamente tierna a una mujer despiadada, capaz de asesinar sin remordimientos porque sabe que es morir o matar. Esto demuestra, una vez más, que el desarrollador no se toma a la ligera a sus personajes. Sabe que son los puntos centrales de sus guiones.
            </p>
            <br>
            <p>  Ya que empezamos por la narrativa, hay que aclamar la historia que Neil Druckmann y su equipo presentan. Se trata de una secuencia de hechos que te harán llorar, enojarte, sentir felicidad y desesperanza; pero lo más importante, demostrará que como en la vida real, no hay buenos ni malos; únicamente víctimas de las circunstancias.
            </p>  
            <br>
            <video src="../img/Vids/theLastOfUs2.mp4" controls loop autoplay muted></video>
            <figcaption>
                <em>La evolucion de Ellie. Imagen: Naughty Dog</em>
            </figcaption>
            <br>
            <h4>Gráficos Post-Apocalípticos</h4>
            <br>
            <p>
                Otra cosa que distingue a Naughty Dog es su gran diseño de gráficos. The Last of Us Part II presenta visuales dignos de una película de acción ubicada en Seattle (locación de esta nueva aventura). Las texturas de la tela, la piel, el pelo e incluso la sangre, tripas y otras asquerosidades, son fidedignas. 
            </p>
            <br>
            <p>
                Hay otros detalles que dejan ver que el equipo de producción no deja escapar nada (y si es así, es poco notorio). Por ejemplo, al cabalgar o pisar la nieve, esta levanta la pequeña bruma que se ve en la vida real y los rastros de todos los que pasaron por la misma zona, siguen ahí y están presentes en un tamaño y forma verosímil.
            </p>
            <br><br>
            <img src="../img/TheLastOfUs2/1895282-652686_20120302_001.jpg" alt="TLOU2 Graficos">
            <figcaption>
                <em>Imagen: Naughty Dog</em>
            </figcaption>
            <br><br>
            <p>
                A esto hay que añadirle el manejo de luces. Al tratarse de un juego post-apocalíptico (en donde todo es anarquía, caos y guerra entre facciones), hay una tonalidad primordialmente oscura, que se combina ocasionalmente con paisajes iluminados. Además, los días en el juego transcurren y puedes notarlo por la forma en que el Sol comienza a moverse y proyectar sombras en los edificios y calles. Podría parecer algo insignificante, pero lo cierto es que proporciona realismo al título.
            </p>
            <br>
            <p>
                Las luces también son algo de suma importancia en lugares oscuros y si que hay muchos. Un buen juego de terror es aquel que representa la ausencia de luz de una forma que el usuario realmente tenga miedo de seguir avanzando y aunque TLOU2 no es parte de este género en sí, tiene bastantes elementos de ello. Estas áreas son totalmente disfrutables y prometen un buen susto, sobre todo porque tu fuente de luz por lo general es una sola, es unidireccional y en realidad, no sabes qué te espera en la esquina.
            </p>
            <br><br>
            <img src="../img/TheLastOfUs2/the-last-of-us-2-1280x720.jpg" alt="Graficos de la ciudad">
            <figcaption>
                <em>Los detalles como edificios abandonados y la flora se ven a lo largo del juego. Imagen: Naughty Dog</em>
            </figcaption>
            <br><br>
            <p>
                Después de la historia, este es el principal atractivo del juego, y es que el estudio se encargó de que realmente nos sintieramos en un ambiente de constante peligro. Al momento de tener que limpiar zonas, los NPCs tienen patrones de movimiento difíciles de predecir y cuando crees que los dominaste, te das cuenta que estabas equivocada, teniendo que improvisar en ese momento o morir e intentarlo de nuevo.
            </p>
            <br>
            <p>
                Algo importante de puntualizar esque este juego no tiene cortes de cámara entre gameplay y cinemática, haciendo que todo sea más fluido y parezca, en efecto, una película de acción.
            </p>
            <br>
            <h4>Niveles Más Grandes y Complicados</h4>
            <br>
            <p>
                Si bien estamos frente a un juego que presenta una historia lineal, ahora tenemos niveles más grandes que tienen al menos dos opciones distintas para continuar por tu camino.
            </p>
            <br>
            <p>
                A diferencia de su predecesor, este título presenta niveles y escenarios más grandes. Esto da una mayor sensación de exploración ya que podrás elegir entre entrar por una ventana, continuar por el camino lleno de enemigos o intentar encontrar provisiones en una tienda abandonada.
            </p>
            <br>
            <p>  
                De igual manera, este diseño tiene un efecto en la forma en que resolvemos los acertijos ya que implica más movimientos y exploración en estas grandes áreas; lo cual hace que tardemos y sean más complicados de solucionar. Esto se siente como un buen giro para renovar la vieja fórmula de puzzles.
            </p>
            <br><br>
            <img src="../img/TheLastOfUs2/tlou2-wp-duality-1920x1080-002b-1_cz37.1280.webp" alt="Ellie"> 
            <figcaption>
                <em>Imagen: Naughty Dog</em>
            </figcaption>
            <br><br>
            <h4>Más y Mortales Enemigos</h4>
            <br>
            <p>
                The Last of Us se encargó de presentarnos a los infectados y algunas derivaciones de estos, ahora no sólo hay que hacerles frente a estos monstruos y sus evoluciones más letales. También nos enfrentamos a facciones de humanos formadas por causas que podrían parecernos crueles, pero lo cierto es que lo único que buscan hacer es sobrevivir.
            </p>
            <br>
            <p>
                Por supuesto, este grupo es el peor y no sólo porque Naughty Dog se encargó de retratarlo como tal (a fin de cuentas, su motivo es una pasión, un impulso, los otros matan porque sí), sino debido a que cada agrupación se maneja de forma diferente y tiene tácticas distintas que te harán replantearte todos los conocimientos que hayas adquirido en el camino.
            </p>
            <br><br>
            <img src="../img/TheLastOfUs2/thelastofus2-4.jpg" alt="Enemigos">
            <figcaption>
                <em>Ellie en plena pelea. Imagen: Naughty Dog</em>
            </figcaption>
            <br><br>
            <p>
                TLOU2 está basado principalmente en el sigilo. Esto denota dos cosas, por un lado la forma en que Ellie se ha convertido en una guerrera y por el otro, le da ese tono táctico que tanto distingue a la franquicia; en el cual tenes que sobrevivir en situaciones precarias y con pocos recursos, cosa que lo hace sumamente atractivo.
            </p>
            <br>
            <p>
                Al igual que en la primera entrega, hay un acompañante a lo largo de tu aventura y esta es la parte que Naughty Dog debió mejorar un poco más (me encontré algunos glitchs pero nada que realmente arruiné la experiencia). Ese NPC si bien es un apoyo para continuar por los distintos niveles, en las batallas, aunque te ayuda, pierde toda la verosimilitud cuando pasa frente a los enemigos y estos no lo detectan.
            </p>
            <br>
            <h4>Anotaciones Finales</h4>
            <br>
            <p>
                Durante E3 2018, Neil Druckmann reveló que Ellie no es el único personaje jugable en The Last of Us Part II. Obvio esto es cierto, pero la forma en que se maneja es una sorpresa que más de un usuario disfrutará.
            </p>
            <br>
            <p>
                Por otro lado, el gameplay también te conecta de una forma muy humana con la historia del juego. No todo es luchar, pelear, esconderte y disparar; también hay momentos hermosos que valen la pena vivir.
            </p>
            <br>
            <p>
                Finalmente, algo que era evidente de los primeros adelantos pero que es necesario destacar, es la excelente captura de movimiento de los actores. Lo que hace que esto se trate más de una serie interactiva que de un videojuego.
            </p>
            <br><br>
            <img src="../img/TheLastOfUs2/shuttle.jpeg" alt="Joel y Ellie">
            <figcaption>
                <em>Ellie y Joel. Imagen: Naughty Dog</em>
            </figcaption>
            <br>
            <p>
                Naughty Dog nos entrega una secuela digna de una de sus franquicias más representantivas. Proporcionando un giro fresco a las mecánicas clásicas, más opciones para resolver los acertijos y por supuesto una Ellie mucho más madura que refleja la evolución de la saga.
            </p>
            <br><br>
            <p>
                <b>The Last Of Us Part II solo se encuentra disponible en las tiendas de PlayStation</b><a target="_blank" href="https://www.playstation.com/en-us/games/the-last-of-us-part-ii/" ><img src="../img/Icons/sony_playstation_icon_135172.svg" class="icon" alt="Sony"></a>
            </p>
        </div>
    </main>
    <!--FIN DE MAIN-->
    <br><br>
<!--FOOTER-->
<footer class='bottom'>
    <div class="foot-div">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/reviews.html">Reviews</a></li>
            <li><a href="../views/noticias.html">Noticias</a></li>
            <li><a href="../views/nosotras.html">Nosotras</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li>
                <p>🎮</p>
            </li>
        </ul>
        <p>2021 RageQuit&copy;</p>
    </div>
</footer>
</body>
</html>