<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/Logo/RQ(1).png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@1&family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <!--SEO-->
    <meta name="description" content="En RageQuit podés encontrar reseñas de los últimos videojuegos y todo tipo de noticias relacionadas al mundo geek. Somos una comunidad de mujeres y amigas apasionadas por los juegos y la programación que buscan aportar un poco a la comunidad gamer promocionando la diversidad e inclusión.">
    <meta name="keywords" content="game reviews, news, noticias, mujeres, mujeres en los juegos, reseñas, videojuegos, ragequit, geek, Hitman, Hitman 3, io interactive, sigilo, armas, acción,desarrollo web, programación, juegos oficiales, playstation, pc, xbox, novedades, adelantos">
    <meta property="og:title" content="RageQuit | Reviews y Noticias por mujeres, para mujeres.">
    <meta property="og:image" content="https://ibb.co/6JCq85h">
    <meta property="og:locale" content="es_AR">
    <title>RageQuit | Reviews y Noticias por mujeres, para mujeres.</title>
</head>
<!--BODY-->
<body>
    <!--HEADER-->
    <header class="header">
        <div class="logo-nav-container">
            <a href="../index.html" class='nav-enlace'><img src="../img/Logo/RQ(1).png" alt="RageQuit Logo" class="logo"></a>
        <!--MENU-->
            <nav class="navegacion"> 
                <ul class="menu">
                    <li><a href="../index.html" class='nav-enlace'>Home</a></li>
                    <li><a href="reviews.html" class='nav-enlace'>Reviews</a></li>
                    <li><a href="noticias.html" class='nav-enlace'>Noticias</a></li>
                    <li><a href="nosotras.html" class='nav-enlace'>Nosotras</a></li>
                    <li><a href="contacto.html" class='nav-enlace'>Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--FIN DE MENU-->
    </header>
    <!--FIN DE HEADER-->
        <!--MAIN-->
        <main>
            <h1>Hitman 3</h1>
            <br><br><br>
            <div class="container">
                <br>
                <P><i>Aviso: Este análisis se ha hecho jugando solo la versión de PC</i></P>
                <br><br>
                <p>
                    Hitman es una saga de videojuegos veterana y una de las pocas sobrevivientes del "género" del sigilo que sigue hoy día en el candelero gracias a su última trilogía que, con Hitman 3, pone punto y final a la historia del Agente 47, al menos por ahora, con IO Interactive dando sus primeros pasos en otros proyectos como su recientemente anunciado basado en 007.                  
                </p>
                <br>
                <p>
                    Hoy, en RageQuit, vamos a hablar de lo que nos ha parecido la última entrega de estos tres episodios que comenzaron a publicarse en 2016 y que llegan ahora a su capítulo final que nos permite disfrutar del juego más redondo hasta la fecha, con los niveles mejor diseñados de los últimos años (al menos bajo nuestro punto de vista) y con mejoras que han hecho que disfrutemos como nunca de ponernos un disfraz, infiltrarnos en un lugar y eliminar a nuestros objetivos de mil y un formas diferentes.
                </p>
                <br><br>
                <h4>Trailer</h4>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/avAXhnbs69w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br><br>
                <h4>El último tango del Agente 47.</h4>
                <br>
                <p>
                    No vamos a resumir la trama de esta última trilogía de Hitman porque es bastante probable que alguno o varios de ustedes hayan decidido esperar a su episodio final para jugarla entera de principio a fin pero lo que sí les diremos es que estamos ante el último tango (al menos por ahora) del asesino más icónico del mundo de los videojuegos, cerrando un ciclo de una forma bastante convincente y que nos deja con ganas de más Hitman aunque sea en un futuro lejano, ya que la saga también da algunas señales de agotamiento tras los últimos 5 años cargados de títulos y contenido. 
                </p> 
                <br>
                <p>
                    En general estamos satisfechas con cómo se cuenta lo que resta de historia, una trama que adquiere más importancia durante las misiones y que no se limita a estar presente simplemente en los interludios.
                </p>
                <br><br>
                <img src="../img/Hitman3/HitmanMendoza.jpg" alt="Nivel Mendoza">
                <figcaption>
                    <em>Nivel de Hitman 3 en Mendoza, Argentina. Imagen: IO Interactive</em>
                </figcaption>
                <br><br>
                <h4>Los mejores niveles de Hitman.</h4>
                <br>
                <p>
                    Algo que nos encanto de esta nueva entrega es el diseño de todos y cada uno de los niveles a los que nos hemos tenido que enfrentar tanto a nivel artístico como en desafíos, opciones, posibilidades, tamaño y todas las intrahistorias y oportunidades que nos ofrecen para que podamos aprovecharlas con el Agente 47. Estuvimos compenetradas en todas y cada una de las áreas que hemos tenido que visitar ya han encontrado espacios para momentos no tan habituales en la saga con más trama durante las misiones y algunas situaciones (en momentos muy concretos) a las que no estamos tan acostumbradas.
                </p>
                <br>
                <p> 
                    De hecho, creemos que en esta entrega están presentes dos de los mejores niveles de la historia de Hitman, uno de ellas por la ambientación y las subtramas que nos ofrece alrededor de todo el nivel y la otra por las grandes posibilidades que hay a nivel jugable, siendo tan grande como complejo y rico en opciones. No vamos a decir los dos nombres para que los descubran ustedes mismos y puedan disfrutar de estas sorpresas.
                </p>
                <br><br>
                <img src="../img/Hitman3/HitmanChinatown.jpg.jpg" alt="Hitman 3 China Town" >
                <figcaption>
                    <em>Nivel de Hitman 3 en Chongqing, China. Imagen: IO Interactive</em>
                </figcaption>
                <br><br>
                <p>
                    Además, todas y cada una de las localizaciones guardan un montón de secretos, caminos, detalles e historias que nos permitirán conocer más de nuestras víctimas, eliminarlas de formas espectaculares y, en definitiva, darnos una profunda rejugabilidad que nos permite disfrutar una y otra vez de la libertad característica de la saga sin importar si queremos jugar con más o menos ayudas o plantear las misiones de diferenmtes formas.
                </p> 
                <br>                 
                <p>
                    En cuanto a la duración, una primera vuelta por todas las localizaciones nos lleva unas 7 u 8 horas pero su alta rejugabilidad hace que se le pueda sacar mucho más tiempo de diversión. Pese a esto, los objetivos o cómo se plantean las misiones en ciertos lugares nos recuerdan a planteamientos en juegos pasados y muestran los signos de agotamiento lógicos de una saga que lleva tres juegos en apenas cinco años.
                </p>
                <br><br>
                <img src="../img/Hitman3/HitmanDubai.jpg.jpg" alt="Hitman Dubai" >
                <figcaption>
                    <em>Nivel de Hitman 3 en Dubai, Emiratos Árabes Unidos. Imagen: IO Interactive</em>
                </figcaption>
                <br><br>
                <h4>Atajos y una nueva cámara como compañera.</h4>
                <br>
                <p>
                    Tal y como comentamos en nuestras impresiones las principales novedades a nivel jugable de Hitman 3 son dos: Una cámara que nos acompaña en todo momento y los atajos permanentes. La cámara (Además de poder hacer fotos) nos permite realizar ciertas acciones interesantes como hackear mecanismos de seguridad, escanear documentos u otros objetos e incluso activar códigos QR para obtener más información de una localización en concreto. 
                    En cuanto a los atajos permanentes hablamos de puertas, escaleras u otras rutas que podemos desbloquear durante nuestra partida y que permanecen activas en nuestras posteriores visitas a un mismo nivel.
                </p>
                <br><br>
                <video src="../img/Vids/VideoCamera.v.mp4" alt="video camara hitman" width='400'controls loop autoplay muted></video>
                <figcaption>
                    <em>Nuestra mejor amiga, la cámara </em>
                </figcaption>
                <br><br>
                <h4>Concluciones.</h4>
                <br>
                <p>Hitman 3 es probablemente el mejor juego de la última trilogía del Agente 47, un título redondo que cuenta con algunos de los mejores niveles de la saga, multitud de posibilidades, libertad de movimientos y nuevas herramientas para aderezar un poco la fórmula jugable. Estamos ante una obra notable aunque también comienzan a aparecer algunos signos de agotamiento en la saga, por lo que nos parece aún mejor la decisión de IO Interactive de concluir esta trilogía por la puerta grande y dejar que nuestro asesino favorito se tome unas merecidas vacaciones.
                </p>
                <br>
                <p>
                Desde luego, los amantes de Hitman van disfrutar mucho con esta entrega que también es altamente recomendable para todos aquellos que quieran jugar a un título de sigilo, algo de acción y en el que es el propio jugador el que puede elegir como llevar a cabo los objetivos de cada misión.
                </p>
                <br>
        </main>
        <br>
        <br><br>
<!--FOOTER-->
<footer class='bottom'>
    <div class="foot-div">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/reviews.html">Reviews</a></li>
            <li><a href="../views/noticias.html">Noticias</a></li>
            <li><a href="../views/nosotras.html">Nosotras</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li>
                <p>🎮</p>
            </li>
        </ul>
        <p>2021 RageQuit&copy;</p>
    </div>
</footer>
</body>
</html>