<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/Logo/RQ(1).png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@1&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <!--SEO-->
    <meta name="description" content="En RageQuit podés encontrar reseñas de los últimos videojuegos y todo tipo de noticias relacionadas al mundo geek. Somos una comunidad de mujeres y amigas apasionadas por los juegos y la programación que buscan aportar un poco a la comunidad gamer promocionando la diversidad e inclusión.">
    <meta name="keywords" content="game reviews, news, noticias, mujeres, mujeres en los juegos, reseñas, videojuegos, ragequit, geek, desarrollo web, programación, juegos oficiales, playstation, pc, xbox, novedades, adelantos,cyberpunk, hitman, resident evil, village, assassins creed, valhalla, ghost of tsushima, the last of us, hades, watch dogs">
    <meta property="og:title" content="RageQuit | Reviews y Noticias por mujeres, para mujeres.">
    <meta property="og:image" content="https://ibb.co/6JCq85h">
    <meta property="og:locale" content="es_AR">
    <title>RageQuit | Reviews y Noticias por mujeres, para mujeres.</title>
</head>
<body class="rev__color">
<!--HEADER-->
    <header class="header">
        <div class="logo-nav-container">
            <a href="../index.html" class='nav-enlace'><img src="../img/Logo/RQ(1).png" alt="RageQuit Logo" class="logo"></a>
        <!--MENU-->
            <nav class="navegacion"> 
                <ul class="menu">
                    <li><a href="../index.html" class='nav-enlace'>Home</a></li>
                    <li><a href="reviews.html" class='nav-enlace'>Reviews</a></li>
                    <li><a href="noticias.html" class='nav-enlace'>Noticias</a></li>
                    <li><a href="nosotras.html" class='nav-enlace'>Nosotras</a></li>
                    <li><a href="contacto.html" class='nav-enlace'>Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--FIN DE MENU-->
    </header>
    <!--FIN DE HEADER-->
        <!--MAIN--> 
    <main>
        <h1>Reviews</h1>
        <br><br><br>
        <div class="reviews__contain">
        <div class="card">
            <a href="reviews2hit.html">
            <img src="../img/Hitman3/hitman3.png" alt="Hitman 3">
            </a>
        </div>
        <div class="card">
            <a href="reviews3cyb.html">
                <img src="../img/CyberPunk2077/cyberpunk-2077-new.jpg" alt="CyberPunk 2077">
            </a>
        </div>
        <div class="card">
            <a href="reviews4valh.html">
                <img src="../img/AssassinsCreedValhalla/ehcsu2GsHTanW6jxoJ43rH.jpg" alt="Assasins Creed Valhalla">
            </a>
        </div>
        <div class="card">
            <a href="reviews5tloa2.html">
                <img src="../img/TheLastOfUs2/dd703e02396eb662cd897a804f4ab0d0.jpg" alt="The Last Of Us 2">
            </a>
        </div>
        <div class="card">
            <a href="reviews6hades.html">
                <img src="../img/Hades/Hades1.png" alt="Hades">
            </a>
        </div>
        <div class="card">
            <a href="reviews7WD.html">
                <img src="../img/WatchDogsLeg/692687-watch-dogs-legion-playstation-4-front-cover.jpg" alt="Watch Dogs Legion" >
            </a>
        </div>
        <div class="card">
            <a href="../views/reviews8Village.html">
                <img src="../img/Village/cover-village.png" alt="Resident Evil Village">
            </a>
        </div>
        <div class="card">
            <a href="../views/reviews9Ghost.html">
                <img src="../img/GhostOfTsushima/Ghost2020-06-17 123441.png" alt="Ghost Of Tsushima">
            </a>
        </div>
    </div>
    </main>
    <!--FIN DE MAIN-->
    <br><br><br>
    <!--FOOTER-->
    <footer class='bottom'>
        <div class="foot-div">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/reviews.html">Reviews</a></li>
                <li><a href="../views/noticias.html">Noticias</a></li>
                <li><a href="../views/nosotras.html">Nosotras</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li>
                    <p>🎮</p>
                </li>
            </ul>
            <p>2021 RageQuit&copy;</p>
        </div>
    </footer>  
</body>
</html>