<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/Logo/RQ(1).png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@1&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <!--SEO-->
    <meta name="description" content="En RageQuit podés encontrar reseñas de los últimos videojuegos y todo tipo de noticias relacionadas al mundo geek. Somos una comunidad de mujeres y amigas apasionadas por los juegos y la programación que buscan aportar un poco a la comunidad gamer promocionando la diversidad e inclusión.">
    <meta name="keywords" content="game reviews, news, noticias, mujeres, mujeres en los juegos, reseñas, videojuegos, ragequit, geek,acción, hackeo, hacker, ubisoft,desarrollo web, programación, juegos oficiales, playstation, pc, xbox, novedades, adelantos">
    <meta property="og:title" content="RageQuit | Reviews y Noticias por mujeres, para mujeres.">
    <meta property="og:image" content="https://ibb.co/6JCq85h">
    <meta property="og:locale" content="es_AR">
    <title>RageQuit | Reviews y Noticias por mujeres, para mujeres.</title>
</head>
<!--BODY-->
<body>
    <!--HEADER-->
    <header class="header">
        <div class="logo-nav-container">
            <a href="../index.html" class='nav-enlace'><img src="../img/Logo/RQ(1).png" alt="RageQuit Logo" class="logo"></a>
        <!--MENU-->
            <nav class="navegacion"> 
                <ul class="menu">
                    <li><a href="../index.html" class='nav-enlace'>Home</a></li>
                    <li><a href="reviews.html" class='nav-enlace'>Reviews</a></li>
                    <li><a href="noticias.html" class='nav-enlace'>Noticias</a></li>
                    <li><a href="nosotras.html" class='nav-enlace'>Nosotras</a></li>
                    <li><a href="contacto.html" class='nav-enlace'>Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--FIN DE MENU-->
    </header>
    <!--FIN DE HEADER-->
        <!--MAIN-->
        <main>
            <h1>Watch Dogs: Legion</h1>
            <br><br><br>
            <div class="container">
                <img src="../img/WatchDogsLeg/WatchDogsLeg.png" alt="Watch Dogs Legion">
                <br>
                <P><i>Aviso: Este análisis se ha hecho jugando solo la versión de PC</i></P>
                <br><br>
                <p>
                    Ubisoft la tenía difícil con esta franquicia después de lo que ocurrió con el primer título, y aunque el segundo nos dejó ver un título con más calidad, Watch Dogs: Legion es el que llega a sentar las bases para algo que podría ser enorme a lo Assassin's Creed.
                </p>
                <br>
                <p>
                    Después de dos juegos que pusieron en duda a los jugadores, Watch Dogs: Legion apuesta por una historia fresca, innovadora y que nos plantea lo terrible que puede ser un   futuro donde la tecnología no sólo nos alcanzó, sino que nadie trató de controlarla. 
                </p>
                <br>
                <h4>Trailer</h4>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qxkM9ddLkl8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br><br>
                <h4>Una Ficción No Tan Alejada De La Realidad.</h4>
                <br>
                <p>
                    Watch Dogs: Legion plantea un futuro algo “incómodo” para las personas, por supuesto, a cambio de un beneficio: tener tecnología más autónoma y gadgets súper avanzados.
                </p>
                <P>
                    ¿Quién no quisiera que los autos fueran 100% autónomos? Para… eso ya está pasando. Ok, qué tal esto: ¿Quién no quisiera unos anteojos conectados a internet? Esperen… eso tambien.
                </P>
                <p>
                    Imaginate que ahora tuvieras todo eso y mucho más, solamente que a cambio estarías dándole a las empresas un completo acceso a todas tus actividades. Es un precio relativamente bajo y ya lo haces ¿No? Ok, no. 
                </p>
                <p>
                    Pero fuera de broma, WD: Legion plantea algo similar, un futuro donde la tecnología hizo la vida para todos más cómoda, pero a cambio, están vigilados por la misma tecnología 24 horas al día. Cómo duermen, con quién hablan, con quién chatean, todo está vigilado. 
                </p>
                <br><br>
                <img src="../img/WatchDogsLeg/Watch-Dogs®_-Legion_20201217181157.jpg" alt="Watch Dogs">
                <figcaption>
                    <em>«Estás en buenas manos». Claaro. Imagen: Ubisoft</em>
                </figcaption>
                <br><br>
                <h4>El lado malo de una tecnología tan buena.</h4>
                <p>
                    Claro, esto también tiene ciertos beneficios, como una ciudad más segura donde el crimen es casi imposible debido a la alta concentración de cámaras, pero aún así, hay quienes creen que este avance de la tecnología no debería ser tan descontrolado. 
                </p>
                <p>
                    Es acá donde entran los miembros del grupo DedSec, un grupo de hackers reconocidos a nivel mundial liderado por Sabine Brandt que actúan bajo sus propias reglas y bajo su propio código ¿Qué buscan? Liberar a todas las personas y darles su privacidad y libertad de vuelta. 
                </p>
                <p>
                    El juego comienza infiltrándonos al más puro estilo del espionaje inglés. Tomamos el control de Dalton, un miembro muy hábil de DedSec que ahora tiene que investigar un atentado terrorista en el parlamento de Londres. 
                </p>
                <br><br>
                <img src="../img/WatchDogsLeg/Watch-Dogs-Legion-Character-Art-1.jpg" alt="Dalton">
                <figcaption>
                    <em>Dalton Wolfe. Imagen: Ubisoft</em>
                </figcaption>
                <br><br>
                <p>
                    Es una gran misión y un gran prólogo para contarnos una terrible tragedia: ¡Todo es una trampa! Y aquí es donde las cosas toman forma de maneras que, aunque pueden sonar cliché, son un perfecto móvil para presumir la variedad que tiene el juego. 
                </p>
                <br>
                <h4>Somos DedSec.</h4>
                <br>
                <p>
                    Si bien sabemos que en los dos primeros títulos los protagonistas son fijos y su conexión con DedSec es un gran motivo para seguirlos, aquí las cosas son diferentes. 
                </p>
                <br>
                <h5><u>Advertencia de spoiler</u></h5>
                <br>
                <p>
                    Apenas terminemos el prólogo nos olvidaremos de Dalton, pues es acribillado y nos damos cuenta de que hemos sido atraídos hacia una trampa por otro grupo de personas que quiere tomar el control completo de la seguridad de toda Londres. 
                </p>
                <br>
                <p>
                    Lo bueno y lo copado de Legion es que cumple con lo que prometía en los tráilers: una gran variedad de personajes para elegir. 
                </p>
                <br>
                <p>
                    Debido a que ahora este grupo que quería el bien del país ha quedado expuesto como una amenaza terrorista, será nuestro deber encontrar y reclutar a otras personas que quieran unirse a la causa, y todos ellos cuentan con habilidades diferentes que nos podrán ayudar en el camino. 
                </p>
                <br><br>
                <img src="../img/WatchDogsLeg/WatchDogs_Grandma.jpg" alt="Helen Dashwood">
                <figcaption>
                    <em>Uno de los tantos personajes. Imagen: Ubisoft</em>
                </figcaption>
                <br><br>
                <p>
                    Por ejemplo, algunos funcionan como trabajadores para ciertos edificios, y ésto les permite entrar y salir de algunas áreas sin levantar sospechas y otros, por ejemplo, tienen acceso a vehículos para moverse más rápido. 
                </p>
                <br> 
                <p>
                    Algunos otros personajes tienen habilidades de hackeo más eficientes, un mejor control de las armas o cuentan con gadgets/drones especiales que resultan ser de bastante utilidad. 
                </p>
                <br><br>
                <img src="../img/WatchDogsLeg/Watch-Dogs®_-Legion_20201217194253.jpg" alt="Trabajador de construcción">
                <figcaption>
                    <em>Imagen: Ubisoft</em>
                </figcaption>
                <br><br>
                <p>
                    Tengo que decir que esto está muy bien logrado y que realmente es una estrellita en la frente para Ubisoft, ya que lograron cumplir con lo que tanto presumían en sus tráilers.
                </p>
                <br><br>
                <h4>Esto no es Grand Theft Auto.</h4>
                <br>
                <p>
                    Creo que Watch Dogs, desde las secuelas que dejó con el primer título, le costó un poco alejarse de las comparaciones inevitables -y absurdas- con GTA, y cómo no hacerlo, si ellos mismos trataron de ponérsele de frente a GTA V. 
                </p>
                <br>
                <p>
                    En fin. Algo que pasaba en el primer juego es que el hackeo podía quedar completamente de lado si querías jugarlo al más puro estilo de Rambo repartiendo plomo, y me decepcioné; en el segundo juego lo mejoraron añadiendo unidades refuerzos casi infinitos en los tiroteos, y eso se pulió. 
                </p>
                <br><br>
                <img src="../img/WatchDogsLeg/games_culture_legion_1.jpg" alt="Hackeando Drone">
                <figcaption>
                    <em>Hackeando a un drone.Imagen: Ubisoft</em>
                </figcaption>
                <br><br>
                <p>
                    Si bien está permitido el uso de la violencia física y con armas, la mayor de ellas sigue siendo la inteligencia. Por ejemplo, podes iniciar un tiroteo, pero si no te encargas de aquellos personajes que pueden pedir refuerzos, la vas a pasar muy mal (creeme). 
                </p>
                <br>
                <p>
                    Ahora, con esto no quiero decir que la acción quede de lado. Una de las cosas que mejor se lograron en este apartado son las persecuciones. 
                </p>
                <br>
                <p>
                    ¿Te acordás que te dije que toda la ciudad estaba siendo vigilada? Acá no hay gran tema con que tomes un auto “prestado”, el problema es cuando tengas que huir después de tomar un vehículo, ya que deberás tener cuidado con tus perseguidores, los drones y las cámaras de seguridad. 
                </p>
                <br>
                <h4>Un Juego Que Se Respeta a Sí Mismo</h4>
                <br>
                <p>
                    Finalmente, nos encontramos con un juego sólido que, si bien tiene algunos errores (no graves, debo aclarar), logra hacerlo bastante bien para recuperar la confianza de los fans de esta franquicia. He de decir que no es perfecto, pero que se sale con la suya a la hora de enviciarnos con la gran unión de sus apartados sonoros, gráficos y a nivel jugabilidad. 
                </p>
                <br>
                <p>                   
                    Además de todo lo anterior, se arriesga con temas controversiales como el terrorismo, la invación de la privacidad, los inmigrantes, privilegios y más, no viéndose tibio ni yéndose por un lado más “relajado” de temas que no deberían serlo. 
                </p>
                <br><br><br>
                <p>Para jugarlo en PC Encontralo en <a target="_blank" href="https://www.ubisoft.com/en-gb/game/watch-dogs/legion" ><img src="../img/Icons/001-ubisoft.svg" alt="Ubisoft" class="icon"></a></p>
            </div>
        </main>
        <br><br><br>
<!--FOOTER-->
<footer class='bottom'>
    <div class="foot-div">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/reviews.html">Reviews</a></li>
            <li><a href="../views/noticias.html">Noticias</a></li>
            <li><a href="../views/nosotras.html">Nosotras</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li>
                <p>🎮</p>
            </li>
        </ul>
        <p>2021 RageQuit&copy;</p>
    </div>
</footer>
</body>
</html>