<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/Logo/RQ(1).png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@1&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <!--SEO-->
    <meta name="description" content="En RageQuit podés encontrar reseñas de los últimos videojuegos y todo tipo de noticias relacionadas al mundo geek. Somos una comunidad de mujeres y amigas apasionadas por los juegos y la programación que buscan aportar un poco a la comunidad gamer promocionando la diversidad e inclusión.">
    <meta name="keywords" content="game reviews, news, noticias, mujeres, mujeres en los juegos, reseñas, videojuegos, ragequit, assassins creed, valhalla, ubisoft, armas, acción,desarrollo web, programación, juegos oficiales, playstation, pc, xbox, novedades, adelantos">
    <meta property="og:title" content="RageQuit | Reviews y Noticias por mujeres, para mujeres.">
    <meta property="og:image" content="https://ibb.co/6JCq85h">
    <meta property="og:locale" content="es_AR">
    <title>RageQuit | Reviews y Noticias por mujeres, para mujeres.</title>
</head>
<body>
<!--HEADER-->
    <header class="header">
        <div class="logo-nav-container">
            <a href="../index.html" class='nav-enlace'><img src="../img/Logo/RQ(1).png" alt="RageQuit Logo" class="logo"></a>
        <!--MENU-->
            <nav class="navegacion"> 
                <ul class="menu">
                    <li><a href="../index.html" class='nav-enlace'>Home</a></li>
                    <li><a href="reviews.html" class='nav-enlace'>Reviews</a></li>
                    <li><a href="noticias.html" class='nav-enlace'>Noticias</a></li>
                    <li><a href="nosotras.html" class='nav-enlace'>Nosotras</a></li>
                    <li><a href="contacto.html" class='nav-enlace'>Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--FIN DE MENU-->
    </header>
    <!--FIN DE HEADER-->
    <!--MAIN-->
    <main>
        <div class="container">
        <h1>Assassin's Creed Valhalla</h1>
        <br><br><br>
            <img src="../img/AssassinsCreedValhalla/ehcsu2GsHTanW6jxoJ43rH.jpg" alt="Assassins Creed Valhalla">
            <br>
            <P><i>Aviso:</i> Este análisis se ha hecho jugando solo la versión de PC</P>
            <br><br>
            <p>
                Ubisoft nos trajo una aventura inmensa y de un trabajo enorme que me hizo pasear por algunos de los paisajes más lindos que haya visto en un videojuego.
                Un proyecto que, a pesar de sus muy buenas intenciones, sigue teniendo difícil escapar de sus ya habituales fantasmas. Bienvenidos al Valhalla.
            </p>
            <br>
            <h4>Trailer</h4>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/slF6NyI6ki8?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <h4>De Inglaterra Hasta Valhalla</h4>
            <br>
            <p>
                En esta ocasión vivirás la historia de Eivor Varinsdottir, una vikinga que cuenta con grandes hazañas dentro del clan del cuervo. 
                Ella y su hermano Sigurd son muy fieles a su clan y a su gente, pero debido a algunas decisiones en las que no estuvieron de acuerdo con el jefe, se marchan de él.
            </p>
            <br>
            <p> 
                De esta forma llegan a Inglaterra para reformar dicho clan formando alianzas con los demás clanes que habitan estas tierras e irán fortaleciéndose cada vez mas (¿Cuantas veces   dije clan?). Todo esto mientras se ven envueltos en la eterna lucha entre los ocultos y la orden de los antiguos.
            </p>
            <br>  
            <p> 
                También se cuenta la historia de las cosas que están pasando en el «presente» del juego, pero es mejor que la experimenten ustedes.
            </p>
            <br><br>
            <img src="../img/AssassinsCreedValhalla/3664198-491495eaa1d608140e6.78434262-acv_iconicengland_evening_female.jpg" alt="Assassins Creed Valhalla">
            <figcaption>
                <em>Uno de los tantos paisajes de este juego. Imagen: Ubisoft</em>
            </figcaption>
            <br><br>
            <p>
                Al iniciar la historia te dan la opción de seleccionar el genero de Eivor, podes elegir entre un personaje masculino o uno femenino, pero hay una tercera opción que te deja jugar con los dos a la vez. 
            </p>
            <br>
            <p>
                Cuando cualquiera de los dos generos que presenta el juego tenga más impacto en una escena en particular, tu personaje va a cambiar de femenino a masculino y viceversa. Suena medio raro, pero es la mejor opción si queres experimentar las mejores partes de cada uno de los Eivor.
            </p>
            <br>
            <p>
                Siempre vas a tener disponible la opción elegir un genero definido u optar por esta alternativa.
            </p>
            <br>
            <h4>La Brutalidad Vikinga y El Sigilo De Un Asesino</h4>
            <br>
            <p>
                Desde los juegos anteriores le metieron cambios muy notorios al sistema de combate, y en este juego es donde sobresale.
                La hermandad de los asesinos aún no está hecha formalmente pero ya cuentan con los principios y, claro, con el arma predilecta de estos. Aún no hay nada establecido en cuanto al estilo de combate, así que cada quien pelea como sabe.
            </p>
            <p>
                Gracias a la fama que tienen los vikingos de ser tan brutales en el campo de batalla, el sistema de combate le queda perfecto. El sigilo y todo lo que caracteriza a los asesinos sigue presente, pero a veces es necesario recurrir a tu furia vikinga.
            </p>
            <br>
            <img src="../img/AssassinsCreedValhalla/ACV_Launch_Norway_Boss.jpg" alt="Pelea Eivor"> 
            <figcaption>
                <em>Imagen: Ubisoft</em>
            </figcaption>
            <br><br>
            <p>
                El juego cuenta con algunos elementos RPG. Podes mejorar tus armas y armadura, como también equipar sets de armaduras que te dan diferentes ventajas y hasta desbloquear habilidades con el árbol de habilidades.
            </p>
            <p>
                Es algo simple, pero se pueden crear sets muy buenos. En mi caso tengo un arma que se prende en fuego cada que realizas un ataque critico, con las runas aumenté la probabilidad de críticos, al matar a los enemigos se activa una habilidad por haberlos quemado, creando un desastre muy genial.
            </p>
            <p>
                Las habilidades afectan mucho tu estilo de juego, pero el juego es muy amable en cuanto a las habilidades. Podes recuperar tus puntos de habilidades y gastarlos en otras en cualquier momento. Aunque al final vas a terminar con todas las habilidades desbloqueadas.
            </p>
            <br><br>
            <img src="../img/AssassinsCreedValhalla/ACV_-_Ability_tree.jpg" alt="Habilidades">
            <figcaption>
                <em>El árbol de habilidades. Imagen: Ubisoft</em>
            </figcaption>
            <br>
            <h4>Mucha Cantidad, Poca Calidad</h4>
            <br>
            <p>
                El mapa del juego es muy extenso y son muchas las cosas que se pueden hacer en él, pero no todo llega a ser entretenido. Conseguir coleccionables y cosas por el estilo ya son un aspecto calve de estos juegos, eso lo tengo presente, pero ese no es el problema.
            </p>
            <br>
            <p>
                En el mapa podes encontrar algunos puntos de colores y cada uno de ellos representa un punto de interés si es que queres conseguir equipos nuevos, obtener coleccionables y realizar algunas misiones cortas.
            </p>
            <br>
            <p>
                Algunas de estas misiones llegan a ser tan innecesarias que parece que están ahí para llenar un espacio en el mapa. Claro, también hay misiones buenas y otras que son bastante graciosas y te pueden sacar algunas risas, pero son contadas.
            </p>
            <br><br>
            <img src="../img/AssassinsCreedValhalla/maxresdefault.jpg" alt="Valhalla">
            <figcaption>
                <em>Imagen: Ubisoft</em>
            </figcaption>
            <br><br>
            <p>
                Un aspecto muy importante en este juego son las incursiones, en las que invadirás algunos pueblos para quedarte con sus recursos. Al principio pueden parecer muy buenas, pero después de unas cuantas te das cuenta que todas se sienten igual.
            </p>
            <p>
                La IA de tus compañeros y de los enemigos no ayuda mucho en representar lo caótico que esto debería de ser.
            </p>
            <br>
            <h4>Assassin’s Creed Después de Todo</h4>
            <br>
            <p>
                La saga de Assassin’s Creed se ha hecho conocida por la cantidad de errores que tiene el juego, y Valhalla no queda exento de esto. La mayoría son errores insignificantes que te hacen reir, pero hay otros que si pueden afectar tu experiencia con el juego.
            </p>
            <br>
            <p>
                Me llegué a cruzar con un error en donde el avance de una misión secundaria no progresaba correctamente. Sólo recargué el archivo de guardado y listo, pero nada recupera la media hora que estuve pescando y escuchando a la nenita decir <b>You’re no help</b>.
            </p>
            <br><br>
            <img src="../img/AssassinsCreedValhalla/EpObcn4VQAECgRi.jpg" alt="Glitch">
            <figcaption>
                <em>Uno de los tantos glitch del juego</em>
            </figcaption>
            <br><br>
            <p>
                Si sos fan de la saga y jugaste los últimos 2 juegos, tene por seguro que Assassin’s Creed Valhalla no te defraudará. Cuenta con algunas mejoras pero también se siente que faltan otras cosa, pero en general es una buena experiencia.
            </p>
            <br>
            <p>
                Si decidís realizar todas las tareas secundarias, el juego te durará horas. Llevo más de 60 horas y aún veo varios puntos en el mapa que me faltan por explorar. Además de que hay misiones diarias y eventos especiales.
            </p>
            <br><br>
            <p>
                Para jugarlo en PC encontralo en: <a target="_blank" href="https://www.ubisoft.com/en-gb/game/assassins-creed/valhalla/buy" ><img src="../img/Icons/001-ubisoft.svg" class="icon" alt="Ubisoft"></a>
            </p>
        </div>
    </main>
    <!--FIN DE MAIN-->
    <br><br>
<!--FOOTER-->
<footer class='bottom'>
    <div class="foot-div">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/reviews.html">Reviews</a></li>
            <li><a href="../views/noticias.html">Noticias</a></li>
            <li><a href="../views/nosotras.html">Nosotras</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li>
                <p>🎮</p>
            </li>
        </ul>
        <p>2021 RageQuit&copy;</p>
    </div>
</footer>
</body>
</html>