<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/Logo/RQ(1).png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@1&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!--SEO-->
    <meta name="description" content="En RageQuit podés encontrar reseñas de los últimos videojuegos y todo tipo de noticias relacionadas al mundo geek. Somos una comunidad de mujeres y amigas apasionadas por los juegos y la programación que buscan aportar un poco a la comunidad gamer promocionando la diversidad e inclusión.">
    <meta name="keywords" content="game reviews, news, noticias, mujeres, mujeres en los juegos, reseñas, videojuegos, ragequit, geek, residen evil, residen evil Village, capcom, acción, terror,desarrollo web, programación, juegos oficiales, playstation, pc, xbox, novedades, adelantos">
    <meta property="og:title" content="RageQuit | Reviews y Noticias por mujeres, para mujeres.">
    <meta property="og:image" content="https://ibb.co/6JCq85h">
    <meta property="og:locale" content="es_AR">
    <title>RageQuit | Reviews y Noticias por mujeres, para mujeres.</title>
</head>
<!--BODY-->
<body>
    <!--HEADER-->
    <header class="header">
        <div class="logo-nav-container">
            <a href="../index.html" class='nav-enlace'><img src="../img/Logo/RQ(1).png" alt="RageQuit Logo" class="logo"></a>
        <!--MENU-->
            <nav class="navegacion"> 
                <ul class="menu">
                    <li><a href="../index.html" class='nav-enlace'>Home</a></li>
                    <li><a href="reviews.html" class='nav-enlace'>Reviews</a></li>
                    <li><a href="noticias.html" class='nav-enlace'>Noticias</a></li>
                    <li><a href="nosotras.html" class='nav-enlace'>Nosotras</a></li>
                    <li><a href="contacto.html" class='nav-enlace'>Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--FIN DE MENU-->
    </header>
    <!--FIN DE HEADER-->
        <!--MAIN-->
        <main>
            <h1>Resident Evil: Village</h1>
            <br><br><br>
            <div class="container">
                <img src="../img/Village/cover-village.png" alt="Resident Evil Village portada">
                <br>
                <P><i>Aviso: Este análisis se ha hecho jugando solo la versión de PC</i></P>
                <br><br>
                <p>
                    Si hay algo que no se puede negar de Resident Evil es que es una saga que siempre busca reinventarse a sí misma para sorprender a los jugadores con diferentes fórmulas e ideas que no siempre han terminado de funcionar igual de bien. A lo largo de los años, Capcom nos regalo juegos increíbles como Resident Evil 4, Resident Evil Remake o Resident Evil 7, pero también nos toco jugar algunas entregas que se quedaron a medio gas como Resident Evil 6 o Resident Evil 3 Remake.
                </p>
                <br>
                <p>
                    Basta echarle una ojeada a estos juegos que mencionamos para detectar que actualmente la saga tiene dos vertientes muy bien diferenciadas entre las entregas que apuestan por el terror y las que han preferido centrarse en la acción pura y dura, con honrosas excepciones como Resident Evil 2 Remake, probablemente el título que mejor equilibra ambos extremos de la balanza. 
                </p>
                <br>
                <p>
                    Ahora le toca el turno a Resident Evil: Village, uno de los juegos más esperados y deseados del año, una entrega muy experimental que se ha propuesto reunir lo mejor de Resident Evil 4 y Resident Evil 7 en una aventura que no siempre tiene del todo claro qué es exactamente lo que quiere ser y que no llega al nivel de sus fuentes de inspiración, pero que nos deja para el recuerdo uno de los viajes más variados, entretenidos y amenos de toda la serie.

                </p>
                <br>
                <h4>Trailer</h4>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JSapXD9vxYA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br><br>
                <h4>En Las Manos De Ethan Winters</h4>
                <br>
                <p>
                    Esta vez la historia es una secuela directa de Resident Evil 7, por lo que volveremos a encarnar a Ethan Winters, quien deberá rescatar a su hija en una siniestra aldea de montaña repleta de criaturas peligrosas. Sobre su historia no nos vamos a extender demasiado para no arruinar nada, pero sí queremos advertir de que el guion es un disparate que nos va a pedir, más que nunca, que aceptemos la locura que nos están contando sin hacer demasiadas preguntas, incluyendo una forzadísima conexión con el resto de la saga para justificar que es una entrega principal.
                </p>
                <br>
                <P>
                    En lo que respecta al juego como tal, Capcom volvió a apostar por una cámara en primera persona para sumergirnos en una aventura de acción y terror en la que tendremos que avanzar por una serie de escenarios resolviendo puzles, abriendo puertas, recogiendo recursos y luchando contra un buen número de monstruos.
                </P>
                <br><br>
                <br><br>
                <img src="../img/Village/resident-evil-village-playstation-5-screenshots_7y6k.1080.webp" alt="La aldea">
                <figcaption>
                    <em>«La Aldea. Imagen: Capcom</em>
                </figcaption>
                <br><br>
                <p>
                    Si hay algo que hace realmente bien es plantearnos un viaje variadísimo que sabe hacer de la diversidad de situaciones su gran fortaleza. Se trata de un título que nunca se queda quieto y que siempre está proponiéndonos distintos retos que van tocando casi todos los palos de la saga, desde el terror más puro hasta la acción más frenética y excesiva. Además, se rompió la clásica estructura de tres actos de la serie para llevarnos a visitar multitud de escenarios diferentes y que nunca sepamos qué esperar de cada una de sus regiones, evitando así que nos dé tiempo a aburrirnos o a acomodarnos.
                </p>
                <br>
                <h4>El Nuevo Inventario.</h4>
                <br>
                <p>
                    A diferencia de otras entregas, en este juego apenas tendremos dolores de cabeza a la hora de gestionar nuestro inventario, ya que los ítems clave, los tesoros para vender y los materiales para fabricar munición y objetos se guardan en pestañas independientes sin límite de espacio. Por su parte, las armas, balas, carnes y brebajes se almacenarán en un maletín muy similar al de 'Resident Evil 4'.
                </p>
                <br><br>
                <img src="../img/Village/RE8_Tips5.jpg" alt="Inventorio">
                <figcaption>
                    <em>Inventario. Imagen: Capcom</em>
                </figcaption>
                <br><br>
                <p>
                    Ahora bien, esto se ha conseguido a cambio de sacrificar casi por completo la exploración. Si esperabas un mapa enrevesado, intricado y lleno de conexiones donde nos perdemos dando vueltas y buscando el camino al estilo de la casa de los Baker, la comisaría de Raccoon City o la mansión Spencer, nos apena confirmar que no hay nada ni remotamente similar, ya que el diseño de niveles es extremadamente lineal y guiado.
                </p>
                <br>
                <p>
                    Esto no es algo negativo como tal, pero el diseño de los escenarios por los que hemos pasado nos resultaron bastante simples, básicos y poco atractivos. Una gran pena, ya que su ambientación se prestaba totalmente a haber hecho algo muy grande y ambicioso.
                </p>
                <br>
                <h4>Bienvenido, Extranjero.</h4>
                <br>
                <p>
                    El Duque es un personaje que nos vende todo tipo de cosas a cambio de dinero. También puede mejorar nuestras armas y cocinar platos con la carne de los animales que cacemos para que nos den potenciadores permanentes. Adicionalmente, podremos venderle nuestros tesoros y todo lo que no necesitemos para sacarnos un extra. 
                </p>
                <br><br>
                <img src="../img/Village/Y8UzYFwrzpR8ynb6u2jmZ5.jpg" alt="El Duque">
                <figcaption>
                    <em>El Duke. Imagen: Capcom</em>
                </figcaption>
                <br><br>
                <p>
                    Lamentablemente, también tenemos que hablar de un desarrollo irregular que no siempre acierta en todo lo que hace. Por ejemplo, el juego del gato y el ratón con Lady Dimitrescu y sus hijas está totalmente desaprovechado y no consigue generar ningún tipo de tensión por lo fáciles que resultan de evitar y las áreas tan limitadas por las que se mueven. 
                </p>
                <br>
                <p>               
                    Los puzles tampoco nos convencieron en lo más mínimo por lo simples y poco ingeniosos que resultan, y los combates contra los jefes se resumen en rellenarlos de plomo mientras evitamos sus dos únicos patrones de ataque una y otra vez
                </p>
                <br><br>
                <img src="../img/Village/games_resident-evil.jpg" alt="Lady Dimitrescu">
                <figcaption>
                    <em>Lady Dimitrescu y sus tres hijas: Bela, Cassandra y Daniela. Imagen: Capcom</em>
                </figcaption>
                <br><br>
                <p>
                    Ojo, esto no quiere decir que todo sea negativo, ya que el título tiene también partes muy buenas e incluso las peores saben mantener un buen ritmo para impedir que caigamos presas del aburrimiento. De hecho, la puesta en escena es increíble, con secciones que son un espectáculo y un despliegue de medios, tanto a la hora de pegar tiros como a la de pasar miedo.  
                </p>
                <br> 
                <p>
                    Si tuviésemos que describir Resident Evil: Village con una sola palabra, probablemente diríamos que es, ante todo, muy "disfrutable". Sí, tiene defectos y se queda unos peldaños por debajo de las mejores entregas de la serie, pero nunca aburre, está repleto de sorpresas, su ambientación es increíble y los nuevos enemigos a los que tenemos que hacer frente nos gustaron muchísimo, tanto por diseño como por sus comportamientos, aportando algo fresco dentro de la serie para obligarnos a plantear los enfrentamientos de un modo distinto.
                </p>
                <br><br>
                <img src="../img/Village/5ROu_F4srLjTdnG8Cn7gjw.jpeg" alt="Enemigos">
                <figcaption>
                    <em>Imagen: Capcom</em>
                </figcaption>
                <br><br>
                <h4>Una Aventura Rejugable.</h4>
                <br>
                <p>
                    Llegar hasta el final es algo que nos llevo unas 9 horas exactas en su dificultad Normal explorando todo lo que pudimos y sin morir, una duración que nos parece más que aceptable, especialmente si tenemos en cuenta los enormes valores rejugables de los que hace gala. Una vez completemos la historia principal desbloquearemos el menú de desafíos, donde nos indicarán una gigantesca lista de retos para cumplir que nos recompensarán con unos puntos que podremos invertir en una tienda especial para desbloquear armas con munición infinita, modelados, ilustraciones, etcétera.
                </p>
                <br>
                <p>
                    Gracias a ello nos animarán a que volvamos a jugarlo en dificultades más altas, a buscar todos los coleccionables y a hacer cosas muy concretas, como romper todas las ventanas del Castillo Dimitrescu o matar a un boss en un tiempo determinado, algo que resulta muy entretenido por la posibilidad de conservar todo nuestro inventario y las mejoras de armas de una partida a otra. De hecho, hay armas y recetas de fabricación que solo podremos adquirir a partir de nuestra segunda vuelta, así que no nos faltarán motivos para regresar una y otra vez.
                </p>
                <br><br>
                <img src="../img/Village/7Y2owsk9yw6L4uzC4FXeik-1200-80.jpg" alt="Biss">
                <figcaption>
                    <em>Imagen: Capcom</em>
                </figcaption>
                <br><br>
                <p>
                    Pero, sin duda alguna, la gran estrella es el regreso del Modo Mercenarios, un clásico de la serie que por fin vuelve y que resulta tan adictivo como lo recordábamos. No podremos acceder a él hasta terminar la aventura por primera vez, pero una vez lo tengamos desbloqueado podremos disfrutar de una modalidad totalmente arcade que nos propondrá superar una serie de arenas a contrarreloj encadenando tantas muertes como podamos para aumentar nuestro multiplicador de puntos. 
                </p>
                <br><br>
                <img src="../img/Village/img01.jpg" alt="Modo Mercenario">
                <figcaption>
                    <em>Modo Mercenario.Imagen: Capcom</em>
                </figcaption>
                <br><br>
                <p>
                    Es una modalidad que engancha muchísimo y que sabe cómo picarnos para que rejuguemos cada fase montones de veces hasta conseguir alcanzar la máxima puntuación posible, por lo que no entendemos que Capcom haya prescindido de incluir marcadores online para que podamos competir contra otros jugadores en unas tablas de clasificación. 
                </p>
                <br>
                <h4>Una Aldea Fascinante.</h4>
                <br>
                <p>
                    A nivel gráfico tenemos un juego muy llamativo que destaca en multitud de frentes, como los modelados de los personajes, las animaciones faciales o la iluminación, además de contar con unos escenarios repletos de detalles. 
                </p>
                <br>
                <p>                   
                    Se nota que es un juego intergeneracional y que el salto visual con la séptima entrega no es tan grande como cabría esperar, pero no quita que el conjunto sea tremendamente bueno. Además, podemos jugar a 4K y 60 fps en las consolas de nueva generación, aunque les avisamos que el rendimiento es algo más inestable si optamos por activar la opción de Ray-Tracing. 
                </p>
                <br><br>
                <img src="../img/Village/1620477426_220337_1620478095_sumario_normal.jpg" alt="Fabrica">
                <figcaption>
                    <em>La Fábrica.Imagen: Capcom</em>
                </figcaption>
                <br><br>
                <p>
                    Eso sí, a su dirección de arte no le podemos decir nada, ya que es absolutamente increíble y magistral lo que Capcom consiguio hacer, transportándonos de lleno a un mundo fascinante y con una identidad propia muy marcada, algo que se aplica tanto a los escenarios como a los personajes y criaturas. 
                </p>
                <br>
                <h4>Sonido.</h4>
                <br>
                <p>
                    Por último, tenemos que aplaudir todo lo relacionado con el sonido, empezando por la implementación de la tecnología de audio 3D (imprescindible jugarlo con unos buenos auriculares). Tampoco nos podemos olvidar de su enorme cantidad de efectos de calidad ni de su banda sonora que eleva la tensión a niveles insospechados en cada enfrentamiento.
                </p>
                <br>
                <h4>Conclusión.</h4>
                <br>
                <p>
                    Resident Evil: Village es una entrega muy disfrutable con la que la pasamos realmente bien, pero no consiguio terminar de enamorarnos. Que nadie se equivoque: Se trata de un buen juego que sabe hacer de su ritmo, variedad de situaciones, rejugabilidad y fascinante ambientación sus principales fortalezas para ofrecernos una aventura entretenidísima de principio a fin y repleta de grandes momentos que no conoce la palabra aburrimiento, pero a la que sus errores le impiden codearse con los mejores representantes de su saga. 
                </p>
                <br><br><br>
                <p>Para jugarlo en PC Encontralo en <a target="_blank" href="https://store.steampowered.com/agecheck/app/1196590/" ><img src="../img/Icons/icons8-steam (1).svg" alt="Steam" class="icon"></a></p>
            </div>
        </main>
        <br><br><br>
<!--FOOTER-->
<footer class='bottom'>
    <div class="foot-div">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/reviews.html">Reviews</a></li>
            <li><a href="../views/noticias.html">Noticias</a></li>
            <li><a href="../views/nosotras.html">Nosotras</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li>
                <p>🎮</p>
            </li>
        </ul>
        <p>2021 RageQuit&copy;</p>
    </div>
</footer>
</body>
</html>